{% extends 'mailings/base.html' %}
{% block content %}
<h5 class="text-center">{{title}}</h5>
<br/>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-title">Контакты:</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td class="w-15">Страна</td>
                        <td>Россия</td>
                    </tr>
                    <tr>
                        <td class="w-15">ИНН</td>
                        <td>7017086352</td>
                    </tr>
                    <tr>
                        <td class="w-15">Адрес</td>
                        <td>г.-к. Анапа, ул. Крымская 153</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card>">
            <h5 class="card-title">Оставить сообщение:</h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
